<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907090104212-5m5q6m17nuut975n64vnlr10luvd76o3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907090104212-5m5q6m17nuut975n64vnlr10luvd76o3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>907090104212-nt76d895rh8q2phbgph35gqsv6tv4fdp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDClAIwsQyC2nzC5O-R8bXyK53wsyF3gNQ</string>
	<key>GCM_SENDER_ID</key>
	<string>907090104212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.secretchat.2020</string>
	<key>PROJECT_ID</key>
	<string>chat-ae407</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ae407.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907090104212:ios:8e88aaf138204047240981</string>
	<key>DATABASE_URL</key>
	<string>https://chat-ae407.firebaseio.com</string>
</dict>
</plist>